# POSTGRES
PGHOST=localhost
PGUSER=arya
PGDATABASE=postgres
PGPASSWORD=password
PGPORT=5432
 
# POSTGRES TEST
PGHOST_TEST=localhost
PGUSER_TEST=arya
PGDATABASE_TEST=postgres_test
PGPASSWORD_TEST=password
PGPORT_TEST=5432